{% extends "cms/base.html" %}
{% load bootstrap4 %}
{% block title %}ワケオ - 俺のチームを決めてみろ{% endblock title %}


{% block content %}
    <div id="content">
        <h3 class="mt-4 border-bottom">簡単チーム分けだよ</h3>
        <p class="step-1"><span class="title-label005">Step1 </span>イベント名を入力してね。</p>
        <form action="{% url 'cms:page_create' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <div>
                <button type="submit" class="btn btn-primary">送信</button>
            </div>
        </form>
    </div>
{% endblock content %}
