{% extends "cms/base.html" %}
{% block title %}チーム分けされたメンバーの一覧{% endblock title %}


{% block content %}
    <h4 class="mt-4 border-bottom">チーム分けされたメンバーの一覧</h4>
    <a href="{% url 'cms:team_member_list' %}?S={{ S }}" class="btn btn-primary btn-sm my-3">シャッフル</a>
    <input type="button" value="メンバー追加" onclick="addInputText();">
    <input type="button" value="メンバー追加2" onclick="addInputText2();">
    <a href="{% url 'cms:member_list' %}?S={{ S }}" class="btn btn-secondary btn-sm">戻る</a>
        <br/>
        <div id="app" class="container" cmanOMat="area">
            {% for team in teams %}
                <div id="{{ team.team }}">
                    <label>{{ team.team }}</label>
                        {% for member in members %}
                            {% ifequal member.team team.team %}
                                <input name="name_text" type="text" value="{{ member.name }}" readonly="readonly" cmanOMat="move" /><br/>
                            {% endifequal %}
                        {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div>
            <fieldset id="app2" cmanOMat="move">
                <legend>ラベル</legend>
                <input name="name_text" type="text"><br/><br/><br/><br/>
                <input name="name_text" type="text">
            </fieldset>
        </div>
        <script type="text/javascript" src="../../static/cms/js/allsite.js"></script>
{% endblock content %}
